<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrzychodniaFrontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<style>
    body
{
    font-family: 'Montserrat', sans-serif;
}
.navbar
{
    background-color: black;
}
.navbar .brand-navbar img:hover
{
    opacity: 0.7;
}
.navbar ul
{
padding: 0px 30px 0px 0px;
}
.navbar ul li a{
    color: white;
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar ul li a .fas{
    padding-right:5px;
    padding-left:5px;
}
.navbar ul li a:hover{
    color: #15b000;
}
.navbar ul li.active > a {
    color: #15b000;
    font-weight: bold;
    font-size: 20px;
    border-left: 3px solid #15b000;
    border-radius: 40px;
}
.iconStyle
{
    color: #15b000;
}

/*=====================================Slier============================================*/


header .carousel-inner .item
{
    height: 100vh;
}
.carousel-caption
{
    padding-bottom: 130px;
}
.carousel-caption h1
{
    font-size: 70px;
    font-weight: 1000;
    text-shadow: 3px 3px #15b000;;
    text-transform: uppercase;
    animation-delay: 1s;
    animation-duration: 2s;
}
.carousel-caption p
{
    animation-delay: 1s;
}

.carousel-caption .btn
{
    animation-delay: 1s;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    animation-duration: 2s;
}

.carousel-control-prev {
    width: 48px;
    height: 48px;
    top: auto;
    bottom: 0;
    font-size: 2rem;
}
.carousel-control-next {
    width: 48px;
    height: 48px;
    top: auto;
    bottom: 0;
    font-size: 2rem;
}

</style>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navStyle">
            <a class="brand-navbar" asp-area="" asp-controller="Home" asp-action="Index" src="image/logo.png" style="font-size: 34px">Przychodnia Lekarska</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto navList">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="Index">Doktorzy</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Patient" asp-action="Index">Pacjenci</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Użytkowicy</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Visit" asp-action="Index">Wizyty lekarskie</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PrzychodniaFrontend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
